[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/glad"]
	path = ext/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "ext/cat1"]
	path = ext/cat1
	url = git@github.com:wpumacay/cat1.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
